@using MvcFirstCodeEntity.Models.Classes
@model List<YETENEKLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>YETENEK</th>
        <th>DEGER</th>
        <th>SİL</th>
        <th>GUNCELLE</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.ACIKLAMA </td>
            <td>@item.DEGER</td>
            <td><a href="/Admin/YetenekSil/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/YetenekGuncelle/@item.ID" class="btn btn-success">Guncelle</a></td>
        </tr>
    }
    
</table>
